<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add New Event</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/calendar_styles.css" />
  </head>
  <body>

    <div class="container">
      <form action="/add-event" method="post">
        <fieldset>
          <legend>Add Student</legend>
          <input type="text" placeholder="Event Title" id="event-title" name="f_title">
          <input type="text" placeholder="Time" id="event-time" name="f_time">
          <input type="text" placeholder="Attendance" list="attendance" id="attendance-method" name="f_attendance"/>
            <datalist id="attendance">
              <option value="In-Person">
              <option value="Virtual">
            </datalist>
          <input type="text" placeholder="Description" id="event-description" name="f_desc">
          <input type="submit" value="Create Event" name="f_sub">
          <input type="submit" value="Cancel" name="f_cancel" formaction="/calendar">
        </fieldset>
      </form>

    </div>

  </body>
  <script type="text/javascript" scr="index.js"> </script>

</html>